[submodule "submodules/ARVTech.DataAccess"]
	path = submodules/ARVTech.DataAccess
	url = https://github.com/BusStationSys/ARVTech.DataAccess.git
	branch = main
[submodule "submodules/ARVTech.Shared"]
	path = submodules/ARVTech.Shared
	url = https://github.com/BusStationSys/ARVTech.Shared.git
	branch = main
