@using Newtonsoft.Json
@model IEnumerable<GraficoEvolucaoSalarialViewModel>

<div class="chart-area">
    <canvas id="graficoEvolucaoSalarial"></canvas>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var labels = @Html.Raw(JsonConvert.SerializeObject(Model.Select(m => m.Competencia)));
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.Select(m => m.Valor)));

        var ctx = document.getElementById("graficoEvolucaoSalarial").getContext("2d");

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    //label: "Evolução Salarial",
                    data: data,
                    lineTension: 0.3,
                    backgroundColor: "rgba(38, 185, 104, 0.05)",
                    borderColor: "rgba(38, 185, 104, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(38, 185, 104, 1)",
                    pointBorderColor: "rgba(38, 185, 104, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(38, 185, 104, 1)",
                    pointHoverBorderColor: "rgba(38, 185, 104, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,

                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        //top: 25,
                        top: -10,
                        //bottom: 0,
                        bottom: -10,
                    },
                },

                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        ticks: {
                            reverse: true,      //  ou false se quiser inverter.
                            maxTicksLimit: 7,
                            autoSkip: false,    // mostra todas as labels
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            callback: function (value) {
                                return "R$ " + value.toLocaleString();
                            },
                            padding:5,
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    });
</script>