@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h5 class="m-0 font-weight-bold text-success"><span>Espelho de Ponto</span></h5>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered dt-responsive nowrap" id="tblEspelhosPonto" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Guid
                            </th>
                            <th align="center">
                                Competência
                            </th>
                            <th align="center">
                                Matrícula
                            </th>
                            <th>
                                Empregador
                            </th>
                            <th>
                                Colaborador
                            </th>
                            <th align="center">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tfoot></tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <!-- Custom styles for this page -->
    <link href="~/theme/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/datatables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <!-- Page level plugins -->

    <script src="~/theme/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.datatables.min.js"></script>
    <script src="~/theme/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/datatables.bootstrap4.min.js"></script>

    <script src="~/theme/startbootstrap-sb-admin-2-gh-pages/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('#tblEspelhosPonto').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json"
                },
                "lengthMenu": [10, 25, 50, 100],
                "orderMulti": false,
                "pageLength": 10,
                "paging": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/EspelhoPonto/GetDataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "guid", "title": "Guid" },
                    { "data": "competencia", "name": "Competencia", "title": "Competência" },
                    { "data": "numeroMatricula", "name": "NumeroMatricula", "title": "Matrícula" },
                    { "data": "empregador", "name": "Empregador", "title": "Empregador" },
                    {
                        "data": "colaborador", "name": "Colaborador", "title": "Colaborador",
                        "render": function (data, type, row) {
                            return '<a href="/EspelhoPonto/Details/' + row.guid + '">' + data + '</a>';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="/EspelhoPonto/Details/' + row.guid + '" class="btn btn-success btn-xs"><i class="fas fa-fw fa-file-alt"></i></a>';
                        }
                    }
                ],
                "columnDefs": [
                    { "className": "dt-center", "targets": [1, 2, 5] },

                    { "targets": [1, 2, 3, 4], orderable: true, searchable: true },
                    { "targets": [1, 2, 3, 4, 5], visible: true },

                    { "width": "12%", "targets": 1 },
                    { "width": "12%", "targets": 2 },
                    { "width": "34%", "targets": 3 },
                    { "width": "34%", "targets": 4 },
                    { "width": "8%", "targets": 5 },

                    { "targets": '_all', orderable: false, searchable: false, visible: false }
                ],
                "responsive": true
            });
        });
    </script>
}