@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form asp-action="Login" asp-controller="Access" method="post">
        <h1>Login</h1>
    </form>
</body>
</html>